@font-face {
    font-family: 'ds_crystalregular';
    src: url('fonts/ds_crystal-webfont.woff2') format('woff2'),
         url('fonts/ds_crystal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'ds_crystalregular';

}
.peity{

        /* padding-top: 400px; */
        position: absolute;
        top: 40px;
        left: 40px;
    
}
.hidden{
    display:none;
}
#iconWeather{
    position: absolute;
    top: 40px;
    left: 240px; 
}