﻿extends layout


block content
  


  svg#rsr(version="1.1",xmlns="http://www.w3.org/2000/svg")
  #PanelConfig.hidden
    .form
      input.Motor(type='checkbox', data-role='switch', data-caption='Motor')
      input.Panel(type='checkbox', data-role='switch', data-caption='Panel Solar')
      div.TMax(style='width:27%')
        div Temperatura Max Agua
        input(data-role='slider', 
              data-max='38',
              data-min='24', 
              data-buffer='38', 
              data-hint-always='true', 
              data-hint-position='top', 
              data-show-min-max='true', 
              data-cls-backside='bg-dark', 
              data-cls-marker='bg-blue border-50 custom-marker', 
              data-cls-hint='bg-cyan custom-marker shadow-2', 
              data-cls-complete='bg-blue', 
              data-cls-buffer='bg-red', 
              data-cls-min-max='bg-green fg-white p-2 mb-3-minus')
      div.TLux(style='width:27%')
        div Min Lux para funcionar
        input(data-role='slider', 
              data-max='1024',
              data-min='0', 
              data-buffer='600', 
              data-hint-always='true', 
              data-hint-position='top', 
              data-show-min-max='true', 
              data-cls-backside='bg-dark', 
              data-cls-marker='bg-blue border-50 custom-marker', 
              data-cls-hint='bg-cyan custom-marker shadow-2', 
              data-cls-complete='bg-blue', 
              data-cls-buffer='bg-red', 
              data-cls-min-max='bg-green fg-white p-2 mb-3-minus')
  
  