﻿doctype html
html(lang="en")
  head
    title Mipaloma Swiming hot

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', type="text/css", href='/stylesheet/metro/v4/css/metro-all.min.css')
    link(rel='stylesheet', type="text/css", href='/stylesheet/app.css')
    script(src='/js/plugins/jquery-3.3.1.min.js')
    script(src='/js/plugins/snapSvg/snap.svg-min.js')
    script(src='/stylesheet/metro/v4/js/metro.min.js')

    script(src='/js/plugins/socket-io/socket.io-client.js')
    
    script(src='/js/appsvgsnap.js')
    script(src='/js/appSnap.js')
  body
    block content